<meta meta charset=utf-8>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		
<div class="tab-pane fade in active">
    <div class="form-horizontal">
        <h4 class="head text-center" style="color:white">{{vm.title}}</h4>
        <br/>
        <div layout='row' layout-align="center center">
        	<div class="col-sm-5 col-xs-10" layout='column'>
				<md-button class="descargar-archivo" ng-click="vm.generate()">
          			<i class="fa fa-download fa-5x" aria-hidden="true"></i>
          			<p>Descargar archivo</p>
  				</md-button>
  			</div>
        	<div class="col-sm-5 col-xs-10">
				<div ng-show="checkingLogin">Checking login status...</div>
				Login status:{{loggedIn}}
				<button ng-disabled="loggedIn" ng-click="login()">Log In</button>
			
				<div ng-show="loggedIn">
					<h2>Drive section</h2>
					<button ng-disabled="uploading" ng-click="clickFileUpload()">Upload image</button>
					<input type="file" id="uploadImage" accept="image/*" onchange="angular.element(this).scope().upload()" style="display:none;">
					<div ng-show="uploading">Uploading...</div>
			
					<h3>Images:</h3>
					<div ng-show="!images.length">No uploaded images yet</div>
					<div ng-repeat="image in images" style="max-width:300px;max-height:300px;">
						<img ng-src="{{image}}" style="max-width: 100%;max-height: 100%;">
					</div>
			        	</div>
			       	</div>
			 <div flex layout="column">
        	<div layout="row" layout-align="center end">
		            <md-button class="md-fab" ui-sref="form.configure">	
		            	<i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
					</md-button>	
					<md-button class="md-fab" ng-click="vm.redirectToNewForm()">	
		            	<i class="fa fa-home fa-lg" aria-hidden="true"></i>
					</md-button>
		        </div>
        </div>    
    </div>
</div>