<meta meta charset=utf-8>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		
<div class="tab-pane fade in active">
    <div class="form-horizontal">
        <h4 class="head text-center" style="color:white">{{vm.title}}</h4>
        <br/>
        <div layout='row' layout-align="center center">
        	<div class="col-sm-5 col-xs-10" layout='column'>
				<md-button class="descargar-archivo" ng-click="vm.generate()">
          			<i class="fa fa-download fa-5x" aria-hidden="true" style="color:white"></i>
          			<p  style="color:white">Descargar archivo</p>
  				</md-button>
  			</div>
        	<div class="col-sm-5 col-xs-10">
				<md-button class="md-raised" ng-show="checkingLogin || loggedIn" ng-click="login()">Log In</md-button>
			<div ng-hide="loggedIn">
				<md-button class="md-raised" ng-disabled="uploading" ng-click="clickFileUpload()">Cargar image</md-button>
				<input type="file" id="uploadImage" accept="image/*" 
					onchange="angular.element(this).scope().upload()" style="display:none;">
				<div ng-show="uploading">Cargando...</div>		
		     </div>
			</div>
        	<div layout="row" layout-align="center end">
		            <md-button class="md-fab" ui-sref="form.configure">	
		            	<i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
					</md-button>	
					<md-button class="md-fab" ng-click="vm.redirectToNewForm()">	
		            	<i class="fa fa-home fa-lg" aria-hidden="true"></i>
					</md-button>
		        </div>
        </div>    
    </div>
</div>