<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		
<div class="tab-pane fade in active">
    <div class="form-horizontal">
        <h4 class="head text-center" style="color:white">{{vm.title}}</h4>
        <br/>
        <div layout="column" style="margin-top:20px">
	        <div flex layout='row' layout-align="center center">
	        	<div class="col-sm-5 col-xs-10" layout='column'>
					<md-button class="descargar-archivo" style="color:white" ng-click="generateLocal()">
	          			<i class="fa fa-download fa-5x" aria-hidden="true" style="color:white"></i>
	          			<p>Descargar archivo</p>
	  				</md-button>
	  			</div>
	        	<div class="col-sm-5 col-xs-10" layout='column'>
					<md-button style="color:white" ng-disabled="uploading" ng-click="checkConnection()" >
						<input type="file" id="uploadImage" accept="image/*" 
							onchange="angular.element(this).scope().upload()" style="display:none;">
							<div ng-show="uploading">Cargando...</div>
						<img src="content/images/icono-google-drive.png" style="color:white"></img>
						<p>Exportar a Google Drive </p>
					</md-button>
				</div>
			</div>
        	<div flex layout="row" layout-align="center end" style="margin-top:45px">
		            <md-button class="md-fab" ui-sref="form.configure">	
		            	<i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
					</md-button>	
					<md-button class="md-fab" ng-click="redirectToNewForm()">	
		            	<i class="fa fa-home fa-lg" aria-hidden="true"></i>
					</md-button>
		   </div>
        </div>    
    </div>
</div>