nav.navbar { background: #1b242c; font-family: 'Raleway', sans-serif;}
nav.navbar a { color: #fff; }
nav.navbar ul.navbar-nav a { color: #fff; border-style: solid; border-width: 15px 0 0 0; border-color:#1b242c; font-size:125%; }
nav.navbar ul.navbar-nav a:hover,
nav.navbar ul.navbar-nav a:visited,
nav.navbar ul.navbar-nav a:focus,
nav.navbar ul.navbar-nav a:active { background:#3b4045; }
nav.navbar ul.navbar-nav a:hover {border-color: #5fa090; }
nav.navbar li.divider { background: #ccc; }
nav.navbar button.navbar-toggle { background:  #1b242c; border-radius: 2px; }
nav.navbar button.navbar-toggle:hover { background: #999; }
nav.navbar button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar ul.dropdown-menu > li > a { color: #444; }
nav.navbar ul.dropdown-menu > li > a:hover { background: #f14444; color: #fff; }
nav.navbar span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }
.wizard { margin: 20px auto; background: #fff; font-family: 'Raleway', sans-serif;}
.wizard .nav-tabs {position: absolute; margin:auto;padding-left:150px;margin-bottom: 0;border-bottom-color: #e0e0e0;}
.wizard > div.wizard-inner {position: relative;}
.connecting-line {height: 2px; background: #e0e0e0; position: absolute; width: 40%; margin: 0 auto; left: 0; right: 0;margin-left:290px; top: 50%; z-index: 1;}
.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {color: #555555;cursor: default; border: 0; border-bottom-color: transparent;}
span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
	top: 20px;
	position:fixed; 
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
}

.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 33%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    right: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}

.wizard h3 {
    margin-top: 0;
}
#btnDescarga{
    position: absolute;
	right: 50%;
    left: 50%;
}

@media( max-width : 50px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.upload-drop-zone {
  height: 80px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 80px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.continuar{
	margin-right:12px;