<!DOCTYPE html>
<html data-ng-app="code2chart">

<head>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css"></link>
<link rel="stylesheet" href="content/css/riliwan-rabo.css"></link>
<link rel="stylesheet" href="content/css/style.css"></link>
<link rel="stylesheet" href="https://gitcdn.link/repo/angular/bower-material/master/angular-material.css"></link>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>


<link rel="icon" href="/images/logo.png"></link>


</head>
<body>
	<div layout="row" flex="">
	    <md-nav-bar md-selected-nav-item="currentNavItem">
		  <md-nav-item md-nav-sref="home">Code2Chart</md-nav-item>
		  <md-nav-item md-nav-sref="#" name="download">Download</md-nav-item>
		  <md-nav-item md-nav-sref="form.fileUpload" sref-opts="{reload: true, notify: true}" name="fileUpload">
		    Give it a try!
		  </md-nav-item>
		</md-nav-bar>
	</div>    
 	
 	 <!-- views will be injected here -->
    <section style="background:#efefe9;">
        <div class="container">
            <div data-ui-view=""></div>
        </div>
        
    </section>
    
    <!-- js libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
    
    <!-- AngularJS Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.js"></script>
    <script src="https://gitcdn.link/repo/angular/bower-material/master/angular-material.js"></script>
    
    <!-- Bootstrapping -->
    <script src="app/app.module.js"></script>
 
    <!-- Wizard - Form feature -->
    <script src="app/form/form.component.js"></script>
    <script src="app/form/form.controller.js"></script>
    <script src="app/form/formData.value.js"></script>
    
    <script src="app/home/home.component.js"></script>
    <script src="app/home/home.controller.js"></script>
 
    <!-- Wizard - fileUpload feature -->
    <script src="app/fileUpload/fileUpload.component.js"></script>
    <script src="app/fileUpload/fileUpload.controller.js"></script>
 
    <!-- Wizard - configure feature -->
    <script src="app/configure/configure.component.js"></script>
    <script src="app/configure/configure.controller.js"></script>
 
    <!-- Wizard - export feature -->
    <script src="app/export/export.component.js"></script>
    <script src="app/export/export.controller.js"></script>
 
</body>

</html>